body {
  font-size: 13px;
  margin-top: 4px;
  overflow-y: auto
}

.scrolls {
  margin-top: 20px;
}

.thresbtnsmall{
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  margin-left: -50px; 
}

.threspercentage{
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.engagedbutton {
  background-color: #ED8358;
  border: none;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 5%;
  font-style: italic;
}

.e1buttonleftpadding {
  margin-left: 4px;
}

.e1logorowpadding {
  margin-top: 4px;
}

.e1pagecontent {
  margin-top: 30px;
}

.epaddingbottom10 {
  margin-bottom: 7px;
}

.epaddingbottom12 {
  margin-bottom: 12px;
}

.emargintop10minus {
  margin-top: -10px;
}

.emargintop10 {
  margin-top: 20px;
}

.emarginleft10 {
  margin-top: 10px;
}

.emargintop24 {
  margin-top: 10px;
}


.eaddbtnmarginleft {
  margin-left: 10px;
}

.e1container {
  margin-top: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #eef2f7;
}


.e1container2 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #eef2f7;
}

.e1container3 {
  margin-top: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #eef2f7;
}

.e1pageheader {
  padding-left: 10px;
  padding-bottom: 7px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
}

.e1error {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  color: red;
}


.e1butonfontsize {
  font-size: 12px;
  border-color: #0069d9 !important;
  border-bottom-style: solid;
}

.e1cancelbuton {
  font-size: 12px;
}

.e1labelheader {

  /* font-weight:bold ; */
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.e1labelheaderPage1 {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 8px;
  color: #16325c;
}

.e1labelheaderPageTop {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 8px;
  color: #16325c;
}

.marginTop10px {
  margin-top: 10px !important;
}

.e1labelheaderPage2 {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 12px;
}

.e1labelheaderPage3 {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
}

.e1labelheaderPage3Acc {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.e1labelheaderPage4 {
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  color: #16325c;
  margin-left: 29px;
}

.e1labelheaderPage4Cent{
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  color: #16325c;
  margin-left: 18px;
}

.e1labelheaderPage5 {
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.e1labelheaderPage5Rules {
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-top: 12px;
}

.e1labelheaderPage5ERR{
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  margin-left:0px;
}


.e1labelheaderPage5CM{
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  margin-left: 0px;
}

.e1labelheaderPageERR {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  color: #16325c;
  margin-left: 19px;
}

.marginbottom40px {
  margin-bottom: 40px;
}

.e1labelheader2 {

  /* font-weight:bold ; */
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 10px;

}

.e1labelvalue {
  font-size: 13px;
  letter-spacing: 1px;
}


.e1input {
  padding-bottom: 0px;
  padding-left: 4px;
  padding-top: 4px;
  width: 220px;
  border-radius: 6px;
  margin-left: 20px;
}

.e1inputdd {
  padding-bottom: 0px;
  padding-left: 4px;
  margin-top: 10px;
  width: 220px;
  border-radius: 6px;
  margin-left: 2px;
  height: 26px;
  border-width: 0px;
}


.e1inputddsmall {
  padding-bottom: 0px;
  padding-left: 4px;
  margin-top: 2px;
  width: 120px;
  border-radius: 6px;
  margin-left: 2px;
  height: 26px;
}

.e1inputpg1aaa {
  padding-bottom: 0px;
  padding-left: 4px;
  width: 220px;
  border-radius: 6px;
  height: 26px;
  border-color: #eef2f7 !important;
  border-width: 1px;
  box-shadow: none;
}


.e1inputpg1 {
  padding-bottom: 0px;
  padding-left: 4px;
  width: 220px;
  border: 1px solid;
  box-shadow: none;
  border-color: #eef2f7 !important;
  border-radius: 4px;
  height: 26px;
}

.e1inputpg2 {
  padding-bottom: 0px;
  padding-left: 4px;
  width: inherit;
  /* width: 220px; */
  border-radius: 6px;
  margin-top: 12px;
  height: 26px;
  border-width: 0px;
}

.e1inputpg2:hover {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.e1input3:hover {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);

}

.e1inputddsmall:hover {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.e1input120:hover {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.e1inputpg1:hover {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
  outline: none;
}

.btn-default:hover {
  box-shadow: 0 0 0 0.2rem rgba(245, 74, 7, 0.25);
  /* box-shadow: coral !important; */
}

.btn-default:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 74, 7, 0.25);
  /* box-shadow: coral !important; */
}

.e1inputpg1:focus {
  outline: none;
}

.e1inputdd:hover {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.e1input3 {
  padding-bottom: 0px;
  padding-left: 4px;
  padding-top: 4px;
  border-radius: 6px;
  /* margin-left: 20px; */
  width: 150px;
  border-color: #c0c0c0 !important;
}

.e1input120 {
  padding-bottom: 0px;
  padding-left: 4px;
  padding-top: 4px;
  border-radius: 6px;
  /* margin-left: 20px; */
  width: 60px;
}

.e1input3dpn {
  padding-bottom: 0px;
  padding-left: 4px;
  padding-top: 4px;
  border-radius: 6px;
  height: 32px;
}

.e1input2 {
  padding-bottom: 7px;
  width: 60%
}

.e1linecolor {
  color: #788592;
  background-color: #788592;
  margin-bottom: 3px;
  /* margin-top: 50px; */
}


.ehidediv {
  display: none;
}

.edisablediv {
  display: none;
}

.btnborder {
  border-color: #788952;
  align-items: flex-end;
}

.rectangle {
  height: 45px;
  /* width: 185px; */
  background-color: #4BCA81;
}

.rectangle-unselected {
  height: 45px;
  /* width: 185px; */
  background-color: #1E67B7;
}

.rect-first-step {
  width: 185px;
}

.rect-second-step {
  width: 140px;
}

.rect-third-step {
  width: 120px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-left: 20px solid #4BCA81;
  border-bottom: 23px solid transparent;
}

.triangle-right-unselected {
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-left: 20px solid #1E67B7;
  border-bottom: 23px solid transparent;
}

.triangle-right-inverted {
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-left: 20px solid #1E67B7;
  border-bottom: 23px solid transparent;
}

.triangle-right-inverted-unselected {
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-left: 20px solid #1E67B7;
  border-bottom: 23px solid transparent;
}

.triangle-right-inverted-first {
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-left: 20px solid #4BCA81;
  border-bottom: 23px solid transparent;
}

.triangle-right-inverted-first-unselected {
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-left: 20px solid #1E67B7;
  border-bottom: 23px solid transparent;
}

.div {
  display: flex;
}

.divWizardHead {
  background-color: #a8b9d0;
}

.triangle-right-cover-unselected {
  background-color: #a8b9d0;
}

.lblWizardHeading {
  font-weight: bold;
  color: #fff;
  padding-top: 12PX !important;
  padding-left: 5PX !important;
  font-size: 15px !important;
}

.paddingleft5 {
  padding-left: 5px !important;
}

.triangle-right-cover {
  background-color: #1E67B7;
  height: 45px;
}

.triangle-right-cover-green {
  background-color: #4BCA81;
}

.triangle-right-unselected-cover {
  background-color: #1E67B7;
}

.triangle-right-cover-first {
  background-color: #4BCA81;
}

.triangle-right-cover-first-unselected {
  background-color: #1E67B7;
}

.triangle-right-inverted-cover {
  background-color: #4BCA81;
}

.triangle-right-inverted-cover-unselected {
  background-color: #1E67B7;
}

.triangle-right-inverted-cover-unselected-green {
  background-color: #4BCA81;
}

.triangle-right-inverted-cover-first {
  background-color: #4BCA81;
  height: 45px;
}

.triangle-right-inverted-cover-first-unselected {
  background-color: #1E67B7;
}

.greenbgcolor {
  width: 40px;
  height: 40px;
  background-color: #4BCA81;
  vertical-align: top !important;
}

.greenbgcolor3 {
  background-color: #4BCA81;
}

.greenbgcolor4 {
  background-color: #1E67B7;
}

.greenbgcolor2 {
  content: 'fa fa-check-circle';
  /*font-family: [my cool web icon font here];*/
  display: inline-block;
  vertical-align: top;
  line-height: 1em;
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  text-align: center;
  color: #999;
}

.greenBack {
  border-left: 20px solid #4BCA81;
  background-color: #4BCA81;
}

.invertedGreenBack {
  border-left: 20px solid #4BCA81;
}

/* .badge{
      color: #1E67B7;
      background-color: #fff;
  } */
.badge {
  margin-top: -3px;
  display: inline-block;
  min-width: 10px;
  padding: 2px 4px;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  color: #1E67B7;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 5px;
}

.btn-primary {
  background-color: #fff;
  border: 1px solid #0075DD;
  color: #0075DD;
}

.btn-primary:hover {
  background-color: #e6e6e6;
  border: 1px solid #0056b3;
  color: #0056b3;
}

.btn-primary:active {
  background-color: #e6e6e6;
  border: 1px solid #0056b3;
  color: #0056b3;
}

.btn-primary:focus {
  background-color: #e6e6e6;
  border: 1px solid #0056b3;
  color: #0056b3;
}


.btn-xs {
  padding: 3px 10px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
  margin-top: 4px;
}

.elRowPg1 {
  display: grid;
  margin-left: 30px;
}
.elRowPg2 {
  margin-left: 30px;
}

.e1marginleft {
  margin-left: 30px;
}

.elRowPg2 {
  margin-left: 30px;
}

.paddingZero {
  padding-right: 0px;
  padding-left: 0px;
}

.marginLeft20px {
  margin-left: 20px !important;
  height: 32px;
}

.marginLeft14px {
  margin-left: 14px;
}

label {

  margin-bottom: 0px;
}


.checkmark {
  display: inline-block;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmarkSecPage {
  display: inline-block;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  margin-top: 15px;
}


.checkmark_circle {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #4BCA81;
  border-radius: 11px;
  left: 0;
  top: 0;
}

.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: #fff;
  left: 11px;
  top: 6px;
}

.checkmark_kick {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  left: 8px;
  top: 12px;
}

.displayFlex {
  display: flex;
}

.Roundedbadge {
  border-radius: 50%;
  width: 22px;
  height: 18px;
  /* padding: 5px; */
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  size: 18px;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.Roundedbadge10 {
  border-radius: 50%;
  width: 22px;
  height: 28px;
  /* padding: 5px; */
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  size: 18px;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.valMessage {
  color: red;
}

.svgStyles {
  /* font-weight: bold; */
  margin-right: -57px;
}

.wizardTextStyle {
  /* font-weight: 700; */
  fill: "#fff";
  font-size: 13px;
  font-family: -1apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 0.2px;
}

.polygonStyleCompleted {
  fill: #4BCA81;
  stroke: #AEB5BE;
  stroke-width: 1;

}

.polygonStyleStatndby {
  fill: #1E67B7;
  stroke: #AEB5BE;
  stroke-width: 1;
  font-size: 12px;
}

.polygonStyleUnselected {
  fill: #eef2f7;
  stroke: #AEB5BE;
  stroke-width: 1;
  font-size: 12px;
}

.wizard {
  background-color: #a8b9d0;
  height: 51px;
}

.iconStyle {
  fill: #fff;
  font-size: 17px;
}

svg text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", FontAwesome;
}

.clsLink {
  cursor: pointer;
}

.clsValidation {
  font-size: 13px;
  letter-spacing: 1px;
  color: red;
  margin-left: 10px;
}

.leadActivityBlock {
  height: 66px;
}

.fa-check-circle {
  font-size: 2em;
  color: #4BCA81;
}

.selectInput {
  display: grid;
}

.SecondPageLabel {
  margin-bottom: -20px;
}

.RoundedbadgeBlack {
  border-radius: 50%;
  width: 22px;
  height: 23px;
  /* padding: 5px; */
  background: #666;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  size: 18px;
  margin-top: 15px;
}

.marginTop12px {
  margin-top: 12px;
}

.verifybtn {
  width: 160px;
  background-color: #eb7347;
  /* background-color: #fa6423; */
  color: #fff !important;
}

.verifybtn:visited {
  background-color: #eb7347 !important;
  color: #fff !important;
}

.verifybtn:hover {
  background-color: #eb7347 !important;
  color: #fff !important;
}

.verifybtn:active {
  background-color: #eb7347 !important;
  color: #fff !important;
}

.inboxtracker {
  color: #eb7347 !important;
}

.thresbtns {
  width: 42px;
  height: 40px;
  margin-top: 35px;
}

.thresbtnsIS {
  width: 35px;
  height: 40px;
}

.thresbtnsforCM {
  width: 42px;
  height: 40px;
  margin-top: 0px;
  margin-left: 27px;
}

.thresbtnsSpf{
  width: 42px;
  height: 50px;
  margin-top: 21px;
}

.thresbtnsDkim{
  width: 51px;
  height: 51px;
  margin-top: 21px;
}

.thresbtnsSecond {
  width: 41px;
  height: 42px;
  margin-top: 28px;
}

.thresbtns2 {
  width: 24px;
  height: 24px;
}

.bgcolor1 {
  background-color: #c0c0c0 !important;
}

.e1labelheaderPage4 {
  font-weight: 600;
  font-size: 10px;

}

.e1marginleft2 {
  margin-left: 30px;
}

.paddingleft60 {

  padding-left: 60px !important;
  margin-bottom: 25px !important;
}

.displaystyle1 {
  display: table;
}


.epaddingbottom12 {
  margin-bottom: 12px;
}

.epaddingright10 {
  margin-right: 10px;
}

.ebarcolor {
  background-color: #cddeef;
}

.displayType {
  display: inline;
}

.disBlock {
  display: block !important;
  padding-right: 30px;
}

.divAlert {
  margin-top: 10px;
  font-size: 20px;
}

.alert-success {
  color: #fff;
  background-color: #58cb83;
  border-color: #58cb83;
}

.alert-danger {
  color: #5f4426;
  background-color: #f8b368;
  border-color: #f8b368;
}

/* .fa-check-circle-o{
  font-size: 35px;
}
.fa-times-circle-o{
  font-size: 35px;
} */
.dispInline {
  display: inline;
}

.divDesc {
  margin-left: 10px;
}

.wizardSec {
  width: 33%;
}



.WizardSet {
  width: 100%;
}

.wizCover {
  display: inline;
}

.txtlabel {
  text-align: center;
}


.Completed {
  background-color: #66b7fd;
  height: 16px;
}

.Incompleted {
  background-color: #c1c2c1;
  height: 16px;
}

.wrdtext {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
}

.txtCompleted {
  color: #62cb83;
}

.wrdsec {
  padding-left: 2%;
  padding-right: 2%;
}

.marginZero {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 5px;
}

.modal {
  top: 0% !important;
  left: -15%;
}

.modal-content {
  width: 900px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #cfdeed;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 10px;
  background: #465568;
  cursor: pointer;
  border-radius: 10px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.thresbtns2 {
  margin-bottom: 5px;
}

.outderDiv {
  background: #d7dadd;
  height: 108px;
  width: 108px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.outderDiv1 {
  background: #fa6223;
  height: 108px;
  width: 108px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.inboxRange {
  margin-left: 15px;
  text-align: center;
  /* background: aqua; */
  border-radius: 12px;
  width: 80px;
  border-style: solid;
  border-width: thin;
 -webkit-filter: blur(0.5px); 
  opacity:0.2;
  height:20px;
}
.inboxRangewhite{
  margin-left: 15px;
  text-align: center;
  /* background: aqua; */
  border-radius: 12px;
  width: 80px;
  border-style: solid;
  border-width: thin;
  border-color: white;
   color: white;

}

.inboxRange2{
  margin-top: 5px;
  margin-left: 15px;
  text-align: center;
  /* background: aqua; */
  border-radius: 12px;
  width: 80px;
  border-style: solid;
  border-width: thin;
  -webkit-filter: blur(0.5px); 
  opacity:0.2;
  height:20px;
}
.inboxRange2white{
  margin-top: 5px;
  margin-left: 15px;
  text-align: center;
  /* background: aqua; */
  border-radius: 12px;
  width: 80px;
  border-style: solid;
  border-width: thin;
   border-color: white;
   color: white;
}



.divHead {
  display: flex;
  width: 70px;
  height: 24px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: lightslategray;
  background: white;
}

.disableToggle {
  -webkit-filter: blur(0.5px);
  opacity: 0.2;
}

.divOne {
  background-color: #455469;
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 1px;
}

.divTwo {
  border-radius: 4px;
  padding-top: 1px;
  color: #455469;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.divHeadInactive {
  display: flex;
  width: 72px;
  height: 24px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: lightslategray;
  background: white;
}

.divOneInactive {
  color: #455469;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 1px;
}

.divTwoInactive {
  width: 43px;
  padding-top: 1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #455469;
  color: #fff;
}

.spanindex {
  padding: 4px;
}

.spanengagement {
  padding: 4px;
}

.spanspf {
  padding: 4px;
}

.spanrules {
  padding: 4px;
}

.marginTop {
  margin-top: 10px;
}

.zeroMargin {
  background-color: #788592;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.e1labelheaderPage1Red {
  color: #fa6223;
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
}

.marginLeft30px {
  margin-left: 30px;
}

.marginTop30px {
  margin-top: 30px;
}

.imageBackgroud {
  background-color: #fa6223;
  padding: 3px;
  border-radius: 4px;
}

.imageBackgroudLightGray {
  background-color: #455469;
  padding: 3px;
  border-radius: 4px;
}

.textAlignCenter {
  text-align: center;
  width: 80px;
}

.floatLeft {
  float: right;
}

.mdlControl {
  border-width: 1px;
  border-color: #eef2f7;
}

.marginTop16px {
  margin-top: 16px;
}

.modalCenter{
  margin-top: 158px;
}

.mdlCheckBox {
  width: 18px;
  display: inline-block;
}

.mdlBorder {
  border-style: solid;
  border-width: 1px;
  border-color: #d7dadd;
  border-radius: 6px;

  padding-right: 15px;
  padding-left: 10px;
}

.btn-Black {
  background-color: black;
  color: #fff;
}

.btn-Black:hover {
  background-color: black;
  color: #fff;
}

.paddingLeft15px {
  padding-left: 40px;
}

.paddingLeft15pxbtn {
  padding-left: 44px;
  padding-top: 6px;
}

.checkboxs {
  display: block
}

.marginZero {
  margin-top: 0px;
  margin-bottom: 0px;
}

.e1labelModalPage1 {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 8px;
  margin-bottom: 1px;
  color: #16325c;
}

.e1labelModalPage2 {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #747474;
  font-style: italic;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}



.checkBoxList {
  margin-top: 6px;
}

.checkboxInList {
  margin-top: 0px;
}

.rulesTextBoxStyle{
  border-radius: 6px;
  border-width: 1px;
  border-color: #D3D4D4;
  border-style: double;
  width: 300px;
  height: 27px;
  margin-left: 15px;
}

.rulesTextBoxStyle:hover {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.campaignStyle{
  font-weight: 700;
    color: #16325c;
    letter-spacing: 0px;
    margin-left: 0px;
}

.campaignStyleLabel{
  color: #16325c;
    letter-spacing: 0px;
    margin-bottom: 16px;
    font-weight: 600;
}

.backgroundColor{
  background-color: #0075DD;
}
